@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --dark-blue: #293449;
  --special-blue: #32425C;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --header-background: #F1F5F7;
  --basic-yellow: #FFBF47;
  --basic-light-blue: #3BBCE3;
  --basic-pink: #DC91D8;
  --basic-light-green: #8ED78F;
  --offers-button: rgba(255, 255, 255, 0.3);
  --basic-light-gray: #F7F3EC;
  --border-color: #EAEAEA;
  --services--background: #F1F5F7;
  --special-yellow: #FFD180;
  --social-button: #212A3A;
  --buy-box-shadow: #367315;
  --old-price: #A9A9A9;
  --pagination-border: #E5E5E5;
  --sort-buttom: #C5C5C5;
  --scale-color: #D7DCDE;
  --toggle: #ABABAB;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-red);
  padding: 10px 46px;
  line-height: 18px;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

/* Header */

.main-header {
  background-color: var(--header-background);
  min-height: 320px;
  font-family: "Cuprum", Arial, sans-serif;
  margin-bottom: 59px;
}

.header-top-wrap {
  background-color: var(--dark-blue);
  height: 42px;
  margin-bottom: 43px;
}

.header-top {
  display: flex;
  font-size: 18px;
}

.main-logo {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding-top: 12px;
  background-color: var(--basic-red);
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-search-form {
  position: relative;
}

.header-search-label {
  position: absolute;
  display: block;
  top: 11px;
  left: 17px;
  opacity: 0.3;
}

.header-search-form input {
  width: 270px;
  height: 42px;
  padding-left: 42px;
  background-color: var(--dark-blue);
  border: none;
}

.header-search-form input::placeholder {
  color: var(--basic-white);
}

.header-top-menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-top-menu-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 42px;
}

.header-top-menu-list .bookmark {
  width: 164px;
  padding-left: 18px;
}

.header-top-menu-list .basket {
  width: 136px;
  padding-left: 10px;
}

.header-top-menu-list .order {
  width: 150px;
  background-color: var(--basic-green);
  padding-left: 19px;
}

.header-top-menu-item .basket-link, .header-top-menu-item .bookmark-link {
  display: block;
  position: relative;
  padding-left: 25px;
}

.header-top-menu-list .bookmark-link::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon/icon-bookmark.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
  top: 4px;
  left: 2px;
  opacity: 0.3;
}

.header-top-menu-list .basket-link::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon/icon-cart.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  top: 4px;
  left: 2px;
  opacity: 0.3;
}

.main-header .header-middle {
  display: grid;
  grid-template-columns: max-content 1fr 299px;
  grid-column-gap: 50px;
  margin-bottom: 40px;
}

.header-middle .short-description {
  font-style: italic;
  font-size: 16px;
  color: var(--basic-red);
  padding-left: 30px;
  max-width: 197px;
  margin: 0;
}

.header-middle .header-contacts {
  max-width: 271px;
  margin-left: 44px;
}

.header-contacts .header-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  padding: 4px 42px 5px 69px;
  margin: 3px 0px;
}

.header-contacts .header-phone::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon/icon-phone.svg);
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 36px;
}

.header-contacts .header-adress {
  font-size: 14px;
  color: var(--special-blue);
  margin: 0;
  padding-left: 10px;
}

.header-middle .user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 18px;
  margin-bottom: 25px;
  width: 281px;
}

.user-nav a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.user-nav .registration-link {
  padding: 12px 24px;
}

.user-nav .login-link {
  position: relative;
  padding: 12px 27px 12px 46px;
}

.login-link svg {
  position: absolute;
  top: 14px;
  left: 18px;
}

.main-header .header-nav {
  margin-bottom: 60px;
}

.header-nav .header-nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  background-color: var(--special-blue);
  box-shadow: inset 0px -5px 0px var(--dark-blue);
  height: 60px;
}

.header-nav-list .header-nav-item {
  display: flex;
  align-items: center;
  margin: 16px 28px 20px 28px;
}

/* main page */

/* offers */

.main-content .offers {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  margin-bottom: 59px;
}

.offers .offers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
}

.offers-slider-wrap {
  position: relative;
  grid-column: 1/-2;
  grid-row: 2/-1;
}

.offer-item {
  box-sizing: border-box;
  width: 300px;
  min-height: 123px;
  padding-top: 20px;
  padding-left: 22px;
  overflow: hidden;
}

.offer-title {
  width: 135px;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 14px;
}

.offer-button {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--offers-button);
  padding: 10px 0px;
  width: 135px;
}

.offers .materials {
  background-color: var(--basic-yellow);
  background-image: url(../img/icon/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.offers .instrument {
  background-color: var(--basic-light-blue);
  background-image: url(../img/icon/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 193px 35px;
}

.offers .technics {
  background-color: var(--basic-pink);
  background-image: url(../img/icon/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.offers .discount {
  background-color: var(--basic-light-green);
  background-image: url(../img/icon/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 25px;
}

.offers .delivery {
  background-color: var(--basic-yellow);
  background-image: url(../img/icon/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.offers-slider .slide-current {
  display: block;
}

.slide {
  display: none;
}

.offers-slider {
  list-style: none;
  margin: 0;
  padding: 0;
}

.offers-slider li {
  position: relative;
  width: 620px;
  height: 266px;
}

.slide-content {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.25);
  width: 620px;
}

.slide img {
  background-color: var(--header-background);
  object-fit: cover;
}

.slide-content .slide-titel {
  text-transform: uppercase;
  padding-top: 23px;
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 36px;
  font-size: 36px;
}

.slide-content .slide-text {
  margin-top: 0;
  margin-bottom: 17px;
  padding-left: 24px;
  line-height: 24px;
  font-size: 18px;
}

.slide .slide-button {
  background-color: var(--basic-red);
  padding: 10px 46px;
  position: absolute;
  left: 25px;
  bottom: 27px;
  line-height: 18px;
  font-size: 14px;
  text-transform: uppercase;
}

.dot-switch-slider {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  width: 32px;
  bottom: 36px;
  left: 294px;
}

.dot-switch-slider button {
  position: relative;
  border: none;
  background-color: var(--basic-white);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.dot-switch-slider .dot-current::before {
  content: "";
  position: absolute;
  border: none;
  background-color: var(--basic-red);
  left: 3px;
  bottom: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.arrow-switch-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 104px;
  left: 24px;
  width: 600px;
}

.arrow-switch-slider button {
  position: relative;
  border: none;
  background-image: url(../img/icon/arrow-slider.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 23px;
  height: 41px;
  cursor: pointer;
}

.arrow-switch-slider .next-slide {
  transform: scale(-1, 1);
  right: 24px;
}

.new-offer {
  position: relative;
}

.new-offer::after {
  content: "new";
  position: absolute;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding-top: 8px;
  text-align: center;
  height: 30px;
  width: 100px;
  transform: rotate(45deg);
  top: 9px;
  right: -27px;
  box-sizing: border-box;
  background-color: var(--basic-red);
  background-image: linear-gradient(315deg, transparent 71px, var(--basic-white) 0), linear-gradient(45deg, transparent 71px, var(--basic-white) 0);
}

/* popular-products */

.popular-products {
  margin-bottom: 70px;
}

.popular-products .popular, .popular-manufacturers .popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-light-gray);
  font-family: "Cuprum", Arial, sans-serif;
  min-height: 89px;
  margin-bottom: 20px;
}

.popular .popular-title {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--special-blue);
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-left: 28px;
}

.popular .popular-button {
  margin-right: 15px;
  padding-left: 24px;
  padding-right: 24px;
}

.popular-products .popular-products-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.popular-products-list .product-item, .catalog-products-list .product-item {
  position: relative;
  width: 220px;
  min-height: 318px;
  outline: 1px solid var( --border-color);
  outline-offset: -1px;
  overflow: hidden;
}

.product-item .product-img {
  width: 220px;
  height: 170px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.product-img img {
  object-fit: contain;
}

.product-item .product-info {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  width: 220px;
  height: 140px;
  top: 170px;
  padding: 0px 30px;
  font-weight: 700;
  margin-top: 5px;
}

.product-info .product-info-title {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 3px;
}

.product-info-title a {
  color: var(--basic-black);
}

.product-info p {
  font-size: 17px;
  line-height: 28px;
  margin: 0;
}

.product-info .old-price {
  color: var(--old-price);
  text-decoration: line-through;
  margin-bottom: 9px;
}

.product-info .discount-price {
  height: 38px;
  width: 141px;
  box-sizing: border-box;
  background-color: var(--basic-red);
  background-image: linear-gradient(45deg, transparent 112px, var(--basic-white) 0), linear-gradient(135deg, transparent 112px, var(--basic-white) 0);
  border-radius: 3px;
  margin-left: 15px;
  padding-top: 5px;
  padding-right: 11px;
  color: var(--basic-white);
}

.product-item-selected {
  text-align: center;
  position: absolute;
  opacity: 0;
  top: 37px;
  padding-left: 40px;
  padding-right: 43px;
}

.product-item-selected .button-buy {
  position: relative;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--buy-box-shadow);
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  margin-bottom: 10px;
  min-width: 135px;
  min-height: 38px;
  padding: 0;
  padding-left: 13px;
}

.product-item-selected .button-buy::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon/icon-cart.svg);
  background-repeat: no-repeat;
  top: 10px;
  left: 30px;
  height: 15px;
  width: 15px;
  opacity: 0.3;
}

.product-item-selected .button-bookmark {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  color: var(--special-blue);
  min-width: 135px;
  min-height: 38px;
  padding: 0;
}

.product-item:hover .product-item-selected {
  opacity: 1;
}

.product-item:hover .product-img {
  display: none;
}

/* popular-manufacturers */

.popular-manufacturers {
  margin-bottom: 70px;
}

.popular-manufacturers .manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(2, 145px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.manufacturers-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 142px;
  border: 1px solid var( --border-color);
}

.popular .manufacturers-button {
  margin-right: 19px;
  padding-left: 39px;
  padding-right: 38px
}

/* serviсes */

.serviсes-wrap {
  background-color: var(--services--background);
}

.serviсes-wrap .services {
  margin-bottom: 72px;
}

.services .services-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 65px;
}

.services .services-info {
  margin: 0;
  margin-bottom: 70px;
}

.serviсes-block {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 80px;
}

.serviсes-block .serviсes-switcher, .serviсes-block .service-offers-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.serviсes-block .serviсes-switcher {
  position: relative;
}

.serviсes-switcher::after {
  content: "";
  position: absolute;
  background-image: url(../img/services-shadow.png);
  width: 10px;
  height: 279px;
  right: 0;
  bottom: 55px;
}

.serviсes-switcher-item button {
  text-align: left;
  border: none;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--special-blue);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  width: 240px;
  padding: 15px 22px 17px 22px;
  box-shadow: 0px 1px 0px var(--dark-blue), inset 0px 1px 0px #405069;
  cursor: pointer;
}

.service-offers-list .service-offers-item {
  display: none;
  min-height: 283px;
}

.service-offers-list .service-offers-current {
  display: block;
}

.service-offers-item .service-name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-blue);
  margin: 0px;
  margin-bottom: 30px;
}

.service-offers-list .service-delivery {
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.service-offers-list .service-garanty {
  background-image: url(../img/garanty.png);
  background-repeat: no-repeat;
  background-position: right;
}

.service-offers-list .service-credit {
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position: right;
}

/* main-description */

.main-description {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-column-gap: 180px;
  margin-bottom: 70px;
}

.main-description .about {
  width: 460px;
}

.about .about-title, .contacts .contacts-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.about .about-text {
  margin: 0;
  margin-bottom: 26px;
}

.about .about-delivery {
  margin: 0;
  margin-bottom: 1px;
}

.about .about-delivery-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

.about-delivery-list .about-delivery-list-item {
  position: relative;
  padding-left: 37px;
  margin-bottom: 12px;
}

.about-delivery-list .about-delivery-list-item::before {
  content: "";
  position: absolute;
  background-color: var(--basic-red);
  height: 2px;
  width: 25px;
  left: 0px;
  top: 50%;
}

.about .about-button {
  padding-left: 40px;
  padding-right: 40px;
}

.main-description .contacts {
  width: 300px;
}

.contacts .contacts-text {
  margin: 0;
  margin-bottom: 32px;
}

.contacts .map-link {
  display: inline-block;
  margin-bottom: 18px;
}

.contacts .contacts-button {
  width: 100%;
}

/* inner page */

/* catalog header */

.inner-page .catalog-header {
  margin-bottom: 21px;
}

.header-top-menu-list .full-basket {
  background-color: var(--basic-red);
}

.user-profile {
  font-family: "Cuprum", Arial, sans-serif;
  position: relative;
}

.user-profile .profile-username {
  display: flex;
  position: relative;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  width: 299px;
  min-height: 45px;
  margin-top: 3px;
  margin-bottom: 3px;
  align-items: center;
  justify-content: center;
}

.profile-username svg {
  position: absolute;
  left: 15px
}

.user-profile .logout {
  position: absolute;
  right: 17px;
  top: 17px;
}

.user-profile .profile-nav {
  max-width: 299px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-nav a {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: var(--special-blue);
  padding-top: 4px;
}

.profile-nav a:not(.profile-nav a:last-child) {
  padding-right: 32px;
}

.profile-nav a:not(.profile-nav a:last-child)::before {
  content: "";
  position: absolute;
  background-color: var(--special-blue);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 11px;
  right: 14px;
}

/* bread crumbs */

.bread-crumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.bread-crumbs li {
  margin-right: 41px;
  position: relative;
}

.home-link {
  display: block;
  background: url(../img/icon/icon-home.svg) no-repeat;
  background-position: 0 2px;
  height: 18px;
  width: 14px;
}

.bread-crumbs li:not(.bread-crumbs li:last-child)::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 8px;
  background: url(../img/icon/icon-right-small.svg) no-repeat;
  right: -24px;
  top: 2px;
}

.bread-crumbs a {
  color: var(--basic-black);
}

.page-catalog-title {
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-blue);
  background-color: var(--services--background);
  margin-top: 0;
  margin-bottom: 19px;
  padding: 30px;
}

.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
}

/* filters */

.page-catalog .filters {
  grid-row: 1/-1;
  width: 220px;
  text-transform: uppercase;
}

.filters h2 {
  background-color: var(--basic-light-gray);
  line-height: 18px;
  margin: 0;
  min-height: 38px;
  font-weight: 400;
  font-size: 13px;
  padding-top: 10px;
  padding-left: 18px;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 13px;
}

.filters fieldset {
  padding: 0;
  border: 0;
  margin: 0 0 15px;
  border-bottom: 1px solid var(--border-color);
}

fieldset:last-of-type {
  border: none;
}

.filter-form legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 13px;
}

.filter-form ul {
  list-style: none;
  line-height: 19px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.filter-option {
  margin-bottom: 16px;
  padding-left: 36px;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 40px;
  background-color: var(--basic-light-gray);
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 25px;
}

.range-controls .scale {
  height: 2px;
  background: var(--scale-color);
}

.range-controls .bar {
  width: 77%;
  height: 2px;
  background: var(--basic-light-green);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle);
  border-radius: 50%;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.10);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.price-controls input {
  background: var(--basic-light-gray);
  border: none;
  border-radius: 3px;
  width: 75px;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-option label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  line-height: 19px;
}

fieldset .manufacturers-legend {
  margin-bottom: 15px;
}


.manufacturers-legend+ul {
  margin-bottom: 27px;
}

fieldset .supply-legend {
  margin-bottom: 21px;
  padding-top: 2px;
}

.filter-checkbox {
  margin-bottom: 16px;
}

.filter-checkbox label {
  min-height: 23px;
}

.filter-radio label {
  min-height: 25px;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/icon/checkbox-off.svg);
  opacity: 0.4;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked+label::before {
  background-image: url(../img/icon/checkbox-on.svg);
  width: 25px;
  opacity: 0.4;
  background-repeat: no-repeat;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/icon/radio-off.svg);
  opacity: 0.4;
  background-repeat: no-repeat;
}

.filter-input-radio:checked+label::before {
  background-image: url(../img/icon/radio-on.svg);
  opacity: 0.4;
  background-repeat: no-repeat;
}

.filter-input-checkbox+label:hover::before, .filter-input-checkbox:checked+label:hover::before, .filter-input-radio+label:hover::before, .filter-input-radio:checked+label:hover::before, .filter-input-checkbox:focus+label::before, .filter-input-radio:focus+label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled+label, .filter-input-radio:disabled+label {
  opacity: 0.3;
}

.filter-input-checkbox:disabled+label:hover::before, .filter-input-radio:disabled+label:hover::before {
  opacity: 0.4;
}

.filter-form .filter-button {
  background-color: var(--basic-white);
  color: var(--basic-black);
  width: 100%;
  margin-top: 1px;
  padding: 9px 0;
  font-size: 13px;
  border: 1px solid var(--pagination-border);
  letter-spacing: 1px;
}

.page-catalog .sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  grid-row: 1/2;
  grid-column: 2/ -1;
  margin-bottom: 28px;
  background-color: var(--basic-light-gray);
  min-height: 38px;
  border-radius: 2px;
}

.sort-container p {
  line-height: 18px;
  margin: 0;
  margin-left: 19px;
}

.sort-container .sort-selector-list {
  width: 459px;
  display: grid;
  grid-template-columns: 1fr 60px;
}

.sort-selector-list .sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.sort-list .sort-item {
  margin-right: 70px;
}

.sort-item a {
  color: rgba(0, 0, 0, 0.3);
  line-height: 18px;
  border-bottom: 1px var(--basic-red) dotted;
}

.sort-item-select a {
  color: var(--basic-red);
  border: none;
}

.sort-list .sort-item:nth-child(2) {
  margin-right: 65px;
}

.sort-list .sort-item:last-child {
  margin: 0;
}

.sort-selector-list .sort-button-wraper {
  display: flex;
  justify-content: space-between;
}

.sort-button-wraper .sort-button {
  color: var(--sort-buttom);
}

.sort-button-wraper a:last-child {
  margin-right: 15px;
}

.sort-button-wraper .sort-button-select {
  color: var(--basic-red);
}

/* catalog */

.page-catalog .catalog-products {
  grid-column: 2/ -1;
}

.catalog-products .catalog-products-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 30px;
}

.catalog-products-list .product-item {
  margin-right: 20px;
  margin-bottom: 18px;
}

.catalog-products-list .product-item:nth-child(3n) {
  margin-right: 0;
}

/* pagination */

.paginatoin {
  margin-bottom: 60px;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  flex-wrap: wrap;
}

.pagination-list, .paginatoin {
  display: flex;
}

.pagination-item {
  margin-right: 9px;
}

.pagination-button {
  background-color: var(--basic-white);
  color: var(--basic-black);
  padding: 9px 15px;
  border: 1px solid var(--pagination-border);
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
}

.pagination-next {
  padding: 9px 0;
  width: 140px;
}

.pagination-button-select {
  background-color: var(--basic-red);
  color: var(--basic-white);
  border-color: var(--basic-red);
}

/* discription drill */

.discription-drill-wrap {
  background-color: var(--header-background);
  min-height: 260px;
}

.discription-drill-block h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  padding-top: 64px;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 400;
}

.discription-drill-block p {
  margin-top: 0;
}

/* footer */

.main-footer {
  background-color: var(--special-blue);
}

.main-footer .footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.footer-contacts .footer-logo {
  padding-top: 20px;
  height: 68px;
  margin: 0;
  margin-bottom: 23px;
}

.footer-contacts .footer-adress, .footer-contacts .footer-phone {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--header-background);
  ;
  max-width: 321px;
  margin-left: 3px;
}

.footer-nav {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 546px;
}

.footer-nav .footer-nav-main {
  margin-top: 37px;
  margin-bottom: 19px;
  color: var(--header-background);
}

.footer-nav-main li, .footer-nav-special li {
  margin-bottom: 15px;
}

.footer-nav-main li:not(.footer-nav-main li:last-child), .footer-nav-special li:not(.footer-nav-special li:last-child) {
  margin-right: 58px;
}

.footer-nav-special li:first-child {
  margin-left: 21px;
}

.footer-nav-special-item a {
  color: var(--special-yellow);
}

.main-footer .footer-bottom-wrap {
  background-color: var(--dark-blue);
}

.footer-bottom-wrap .footer-bottom {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 107px;
}

.footer-bottom .copyright {
  margin: 0;
  padding-top: 36px;
}

.footer-bottom .social-button-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 28px;
  margin-top: 3px;
}

.social-button-list .social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--social-button);
  margin-right: 1px;
}

.footer-bottom-wrap .footer-feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 286px;
  margin: 0;
  margin-left: 14px;
}

.footer-feedback p {
  margin: 0;
}

.footer-feedback-link {
  color: var(--special-yellow);
}
